# Directories
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Personal/
Pictures/
Projects/
Public/

# Files
tmux-*

# Dotfiles
.CFUserTextEncoding
.DS_Store
.Trash/
.bundle
.cache/
.docker/
.gem/
.gnupg/
.hushlogin
.lesshst
.local/
.mkshrc
.node-gyp
.node_repl_history
.npm/
.npmrc
.nvm/
.pgadmin/
.profile
.psql_history
.pyenv/
.python_history
.rbenv/
.ssh/
.terminfo/
.vim-bookmarks
.vim/
.viminfo
.vscode/
.wget-hsts
.yarnrc
.zcompdump*
.zsh_history
.zsh_sessions/

# Config
.config/karabiner/assets/
.config/karabiner/automatic_backups/
.config/nvim/
.config/nvim-undo/
.config/thufuck/
.config/.DS_Store
