# Directories
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
Public/

# dotfiles
.cache/
.docker/
.gnupg/
.ssh/
.ssh/
.zcompdump*
.zsh_history
.zsh_sessions/

# config
.config/karabiner/assets/
.config/karabiner/automatic_backups/
.config/nvim-undo/
.config/thufuck/
